@import 'colors';
$badge-height: 90px;
$badge-width: 70px;
$badge-height-responsive: calc(#{$badge-height} * 0.7);
$badge-width-responsive: calc(#{$badge-width} * 0.7);

@mixin font-style($font-size-desc: 18px) {
  color: $grey;
  font-size: $font-size-desc;
}

.book-title {
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;
  position: relative;
  @media screen and (max-width: 1024px) {
    font-size: 25px;

    &::before {
      background: $lemon;
      content: '';
      display: block;
      height: 4px;
      left: -58px;
      position: absolute;
      top: 400px;
      width: 295px;
    }
  }
}

.title-description {
  font-weight: bolder;
  @include font-style();
  position: absolute;
  top: 64px;
  @media screen and (max-width: 1024px) {
    @include font-style(16px);
    top: 400px;
  }
}

.book-details {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
}

.description {
  @include font-style(18px);
  @media screen and (max-width: 1024px) {
    @include font-style(14px);
  }
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 80px auto;
  padding: 20px;
  position: relative;
  width: 670px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 335px;
  }
}

.container-book {
  display: grid;
  grid-template: 100px / 250px 1fr;
  @media screen and (max-width: 1024px) {
    grid-template: 55px 400px 140px/1fr;
  }
}

.book-img {
  height: 300px;
  margin-right: 35px;
  width: 220px;
  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }
}

.container-book-title {
  align-items: center;
  display: flex;
  grid-column: span 2;
  justify-content: center;
  margin-bottom: 45px;
  order: -1;
  @media screen and (max-width: 1024px) {
    grid-column: auto;
    margin-top: 20px;
  }
}

.container-img-book {
  position: relative;
  @media screen and (max-width: 1024px) {
    display: flex;
    justify-content: center;
  }

  &::before {
    background: url('./assets/badge.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: $badge-height;
    position: absolute;
    right: 6px;
    top: -17px;
    transform: rotate(10deg);
    width: $badge-width;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      height: $badge-height-responsive;
      right: 25px;
      top: -10px;
      width: $badge-width-responsive;
    }
  }
}

.container-book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-to-index {
  font-size: 25px;
  font-weight: lighter;
  padding-left: 20px;
  position: absolute;
  top: -50px;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    left: 125px;
    top: 630px;
  }

  &::before {
    background: url('./assets/back-arrow-20.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    right: 70px;
    width: 27px;
    @media screen and (max-width: 1024px) {
      left: -38px;
      position: relative;
      top: 28px;
    }
  }
}
