@import "colors";

@mixin font-style {
  font-size: 15px;
  color: $grey;
}

.book-title {
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;

  &::before {
    background: $lemon;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 55px;
    width: 55%;
  }
}

.title-description {
  @include font-style();
  font-weight: bolder;
}

.book-details {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  @include font-style();
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  width: 650px;
}

.book-img {
  height: 300px;
  margin-right: 35px;
  width: 220px;
}

.container-book-title {
  align-items: center;
  display: flex;
  margin-bottom: 45px;
}

.container-img-book {
  position: relative;

  &::before {
    background: url("./assets/badge.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 90px;
    position: absolute;
    right: 17px;
    top: -17px;
    transform: rotate(10deg);
    width: 70px;
    z-index: 1;
  }
}

.back-to-index {
  font-weight: lighter;
  font-size: 25px;
  margin: 30px 380px 0;
  padding-left: 20px;
  position: relative;

  &::before {
    background: url("./assets/back-arrow-20.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 70px;
    width: 27px;
  }
}
